@import '../variables.css';

.messageContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 500ms ease-out;
	cursor: pointer;
	z-index: 50;
	overflow: hidden;
}

.message, .mobileMessage {
	height: 100%;
	position: absolute;
	text-align: center;
	background: white;
}

.message {
	left: calc(var(--sidebarWidth) + var(--sidebarTabOffset));
	font-size: 1.1rem;
}

.mobileMessage {
	display: none;
	font-size: 1rem;
	right: 0;
	left: 0;
	width: 100%;
	margin: 0;
}

.messageContainer h1 {
	font-size: 1.8rem;
	color: #626262;
}

.message p {
	margin: 20px;
	padding: 0 30%;
}

.mobileMessage p {
	margin: 20px;
}

.messageContainer .prompt {
	margin-top: 40px;
	font-size: 1.3rem
}

.green {
	color: #2f9e4a;
}

.blue {
	color: #0000af;
}

.red {
	color: var(--buttonColor);
}

.messageContainer-enter {
	display: block;
}
.messageContainer-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-out;
}
.messageContainer-enter-done {
	opacity: 1;
	display: block;
}

.messageContainer-exit {
	display: block;
	opacity: 1;
	transition: opacity 500ms ease-out;
}
.messageContainer-exit-active {
	opacity: 0;
	transition: opacity 500ms ease-out;
}
.messageContainer-exit-done {
	opacity: 0;
	display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.message {
		display: none;
	}
	.mobileMessage{
		display: block;
	}
	.messageContainer {
		z-index: 200;
	}
}
