.paneWrapper {
  display: flex;
  justify-content: center;
}

.pane {
  display: flex;
  flex-wrap: wrap;

  &.installation {
    margin-left: 280px;
    // Two rows for each hyperboloid
    width: calc(25 * 80px);
  }
}

.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
  font-size: 1rem;
}

.sensor {
  touch-action: none;
}
