.sidebar {
  width: 240px;
  height: 100%;
  margin-left: -45px;
  overflow-y: auto;
  overflow-x: hidden;
}

.rightTab {
  cursor: pointer;
}

.header {
  position: fixed;
  height: 100%;
  right: 25px;
}

.ranges {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  right: -25px;
}

.ranges div {
  transform: rotate(-90deg)
}

.top {
  display: flex;
  width: 230px;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.byline {
  margin: 5px 0 0 0;
}

.instructions {
  font-size: .9rem;
  margin-bottom: 10px;
}

.close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.close svg {
  transform: scale(1.5);
}

.sidebar .prompt {
  padding-bottom: 10px;
  font-size: 0.9rem;
  text-align: center;
  border-bottom: solid lightgray 1px;
}

p {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 0.9rem;
}

p:last-of-type {
  margin-bottom: 0;
}

.box {
  margin: 10px;
  padding: 10px 5px;
  border: solid lightgray 1px;
  box-shadow: lightgray 2px 2px 8px 0px;
}

.box:last-of-type {
  margin-bottom: 0;
}

.controls button {
  margin-bottom: 10px;
}

.menu {
  padding: 10px 0 0 0;
}

.menuOption {
  margin: 0;
}

.optionText {
  padding-left: 18px !important;
  text-indent: -13px;
}

.selectFade * {
  cursor: pointer;
}

.label {
  margin-left: 5px;
}

.aws-btn {
  --button-default-height: 30px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 4px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 1px;
  --button-hover-pressure: 0;
  --transform-speed: 0.1s;
  --button-primary-color: #e5e1e8;
  --button-primary-color-dark: #6f6e77;
  /* Text */
  --button-primary-color-light: #000000;
  --button-primary-color-hover: #d0cdd7;
  --button-primary-color-active: #d0cdd7;
  --button-primary-border: none;
}

.description {
  overflow-x: hidden;
  overflow-y: auto;
}
