.triggerContainer {
	display: none;
}

.triggerContainer.visible {
	display: block;
}

.trigger {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 80px;
	height: 80px;
	cursor: pointer;
}

.sensor {
	width: 80px;
	height: 80px;
	background: transparent;
	z-index: 30;
}

.squareContainer {
	position: absolute;
	transform: rotate(0deg);
	transition: transform 3000ms ease-out;
}

.squareHovered-enter-active {
	transform: rotate(90deg);
	transition: transform 300ms ease-out;
}

.square {
	width: 80px;
	height: 80px;
	opacity: 0;
	border: 1px solid #6a6a6a;
	user-select: none;
	z-index: 5;
}

.squareDisplay-enter {
	opacity: 0;
	transform: scale(0.25);
	will-change: opacity, transform;
}

.squareDisplay-enter-active {
	opacity: 0.7;
	transform: scale(1);
	transition: all 300ms ease-out;
}

.squareDisplay-enter-done {
	opacity: 0.7;
	transform: scale(1);
}

.squareDisplay-exit {
	opacity: 0.7;
	transform: scale(1);
}

.squareDisplay-exit-active {
	opacity: 0;
	transform: scale(0.25);
	transition: all 300ms ease-out;
}

@keyframes glow {
	0% {transform: scale(1); opacity: 0.7;}
	50% {transform: scale(1.2); opacity: 1;}
	100% {transform: scale(1); opacity: 0.7;}
}

.glow-enter-active {
	animation-name: glow;
	animation-duration: 800ms;
	animation-timing-function: ease-in;
	z-index: 25;
}

.disabledContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

@keyframes pulse {
	0% {opacity: 0.2; transform: scale(0.8);}
	50% {opacity: 0.8; transform: scale(1);}
	100% {opacity: 0.2; transform: scale(0.8);}
}

.disabled {
	width: 50%;
	height: 50%;
	opacity: 0;
	background: white;
	box-shadow: 0px 0px 20px 15px white;
}

.disabled.pulse {
	animation-name: pulse;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

@keyframes pulseFade {
	0% {opacity: 0.2; transform: scale(0.8);}
	100% {opacity: 0; transform: scale(0.8);}
}

.disabled.pulseFade {
	animation-name: pulseFade;
	animation-duration: 500ms;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

@keyframes spinBorder {
	0% {transform: scale(1) rotate(0deg); opacity: 0;}
	50% {transform: scale(2) rotate(180deg); opacity: 0.7;}
	100% {transform: scale(4) rotate(360deg); opacity: 0;}
}

.secondaryWrapper {
	position: absolute;
	width: 80px;
	height: 80px;
	background: black;
	opacity: 0;
}

.secondaryWrapper-enter {
	will-change: transform, opacity;
}

.secondaryWrapper-enter-active {
	animation-name: spinBorder;
	animation-duration: 1000ms;
	animation-timing-function: linear;
	z-index: 20;
}

.secondary {
	position: absolute;
	width: 80px;
	height: 80px;
	opacity: 1;
	transform: scale(0.99);
}

.secondary-enter {
	will-change: width, height, transform, opacity, z-index;
}

.str, .str2 {
	background: linear-gradient(120deg, #F2DAB3 0%, #d14a6e 100%);
}

.win {
	background: linear-gradient(120deg, #DEF2F2 0%, #5a87c1 100%);
}

.bra {
	background: linear-gradient(120deg, #dbcaf2 0%, #161e98 100%);
}

.per {
	background: linear-gradient(120deg, #DFEAF2 0%, #ada8a2 100%);
}

.pia, .vib, .tuned {
	background: linear-gradient(120deg, #F2EDD2 0%, #dbb517 100%);
}

.bas {
	background: linear-gradient(120deg, #ffcccc 0%, #864811 100%);
}

.mel {
	background: linear-gradient(120deg, #d7f0f2 0%, #318266 100%);
}

.mel2 {
	background: linear-gradient(120deg, #D1F2CB 0%, #5F8223 100%);
}

.text {
	position: absolute;
	top: 0;
	margin-top: calc(50% - 6px);
	font-size: 12px;
	opacity: 0;
	text-align: center;
	user-select: none;
	z-index: 25;
}

.text-enter {
	opacity: 1;
	will-change: transform;
}

.text-enter-active {
	transform: translate(0, -100vh);
	transition: transform 3s ease-in;
}

.text-enter-done {
	position: absolute;
	top: -100vh;
}
