.triggerContainer {
	display: none;
}

.triggerContainer.visible {
	display: block;
}

.trigger {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 80px;
	height: 80px;
	cursor: pointer;
}

.sensor {
	width: 80px;
	height: 80px;
	background: transparent;
	z-index: 25;
}

.square {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 20px;
	height: 20px;
	bottom: 0;
	border: 1px solid #6a6a6a;
	box-shadow: none;
	opacity: 0;
	user-select: none;
	transform: rotate(0deg);
	transition: box-shadow 500ms ease-in, width 500ms ease-in, height 500ms ease-in, opacity 3s ease-in, transform 3s ease-in;
	z-index: 5;
}

.squareHovered-enter {
	z-index: 10;
	transform: rotate(90deg);
	transition: all 300ms ease-out;
}

.square-enter-active {
	opacity: 0.7;
	width: 80px;
	height: 80px;
	box-shadow: none;
	transform: rotate(90deg);
	transition: all 300ms ease-out;
}

.square-enter-done {
	width: 80px;
	height: 80px;
	opacity: 0.7;
	box-shadow: none;
}

.glow-enter, .glow-enter-active {
	box-shadow: 0px 0px 20px 5px rgb(255, 250, 225);
	opacity: 1;
	width: 90px;
	height: 90px;
	transform: rotate(90deg);
	transition: all 300ms ease-out;
}

.glow-enter-done {
	box-shadow: none;
	opacity: 1;
	width: 90px;
	height: 90px;
}

.square-exit {
	transition: all 1000ms ease-out;
}

.disabled {
	width: 85%;
	height: 85%;
	opacity: 1;
	background: rgba(255, 255, 255, 0.2);
	/*border: 1px solid #a3a3a3;*/
	/*background: transparent;*/
	border: 1px solid #494949;
	box-shadow: none;
	z-index: auto;
	animation-duration: 500ms;
	transform: scale(1);
	transition: opacity 500ms ease;
}

@keyframes expand {
	0% {transform: scale(0.6); opacity: 0.3;}
	10% {transform: scale(0.8); opacity: 0.5;}
	30%, 100% {transform: scale(1); opacity: 1;}
	50% {transform: scale(0.9);}
}

.disabled-enter-active, .disabled-enter-done {
	/*box-shadow: inset 0px 0px 8px 2px rgba(142, 138, 131, 0.5);*/
	/*transform: scale(1);*/
	animation-name: expand;
	animation-timing-function: ease-in;
	z-index: 15;
}

.disabled-exit {
	opacity: 1;
	transform: scale(1);
}

.disabled-exit-active {
	opacity: 0;
	transform: scale(0.8);
	transition: all 500ms ease-out;
}

.disabled-exit-done {
	opacity: 0;
	transform: scale(0.8);
}

.secondary {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 80px;
	height: 80px;
	bottom: 0;
	border: 1px solid black;
	opacity: 0;
	user-select: none;
}

.secondary-enter-active {
	width: 200%;
	height: 200%;
	bottom: auto;
	transform: rotate(180deg);
	opacity: 0.7;
	z-index: 20;
	transition: all 500ms linear;
}

.secondary-enter-done {
	width: 400%;
	height: 400%;
	bottom: auto;
	transform: rotate(360deg);
	opacity: 0;
	z-index: 20;
	transition: all 500ms linear;
}

.secondary-exit {
	z-index: auto;
}

.str, .str2 {
	background: linear-gradient(120deg, #F2DAB3 0%, #d14a6e 100%);
}

.win {
	background: linear-gradient(120deg, #DEF2F2 0%, #5a87c1 100%);
}

.bra {
	background: linear-gradient(120deg, #dbcaf2 0%, #161e98 100%);
}

.per {
	background: linear-gradient(120deg, #DFEAF2 0%, #ada8a2 100%);
}

.pia, .vib, .tuned {
	background: linear-gradient(120deg, #F2EDD2 0%, #dbb517 100%);
}

.bas {
	background: linear-gradient(120deg, #ffcccc 0%, #864811 100%);
}

.mel {
	background: linear-gradient(120deg, #d7f0f2 0%, #318266 100%);
}

.mel2 {
	background: linear-gradient(120deg, #D1F2CB 0%, #5F8223 100%);
}

.text {
	position: absolute;
	margin-top: calc(50% - 6px);
	font-size: 12px;
	opacity: 0;
	text-align: center;
	user-select: none;
	z-index: 25;
}

.text-enter {
	position: absolute;
	top: 0;
	opacity: 1;
}

.text-enter-active {
	position: absolute;
	top: -100vh;
	transition: all 3s ease-in;
}

.text-enter-done {
	position: absolute;
	top: -100vh;
}
